body {
  background-color: #17749c;
}

.card {
  width: calc(96% / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-bottom: 10px;
  font-size: 3em;
}

#error {
  height: 1rem;
  color: red;
}

#game-display {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
}

#game-options {
  width: 50%;
  color: white;
}

#game-options button,
#game-options input {
  width: 100%;
}

#main-content {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-visibility {
  display: none;
}
